*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 10px;
    background-color: #282c34;
    min-height: 100vh;
}
header, nav, footer {
    background-color: #ffa500;
    padding: 20px;
    text-align: center;
    color: white;
}
.cabeca{
    font-size: 24px;
    margin-bottom: 20px;
}
.menu{
    font-size: 20px;
    margin-bottom: 20px;
}
.rodape{
    font-size: 20px;
    margin-top: 20px;
}
.coteudo{
    display: flex;
    flex: 1;
    gap: 20px;
}
.secao-principal{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 20px;
}
.secao-principal, .artigo-secao {
    background-color: #ffa500;
    padding:20px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.secao-principal{
    flex: 1;
}
.artigo-secao{
    flex: 1;
}
.secao-direta{
    background-color: #ffa500;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
    flex: 1.5;
    border-radius: 5px;
}